@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/opensans/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/opensans/mem8YaGs126MiZpBA-UFVZ0b.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/opensans/mem5YaGs126MiZpBA-UNirkOUuhp.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/opensans/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2") format('woff2');
}

h1, h2, h3, h4, p, a, span {
    font-family: 'Open Sans', sans-serif;
    color: #00070a;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-weight: 600;
    font-size: 18px;
}

p, a {
    font-size: 16px;
    font-weight: 500;
}